<div class="product-image ">
  <%= @product.image_id %>
</div>

<table class="table">
  <tr><th>商品名</th><td><%= @product.name %></td></tr>
  <tr><th>商品説明</th><td><%= @product.introduction %></td></tr>
  <tr><th>ジャンル</th><td><%= @product.genre_id %></td></tr>
  <tr><th>価格（税込）</th><td><%= @product.tax_price %> 円</td></tr>
  <tr><th>在庫情報</th><td><%= @product.status %></td></tr>
</table>