<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-9">
      <div class="title mt-5 mb-5">
        <%= @customer.family_name + @customer.given_name %>さんの会員詳細
      </div>
      <!--ここはtableタグで書き直してもよいかも-->
      <div class="customer_detail">
        <p>会員ID          <%= @customer.id %></p>
        <p>氏名　　　　　  <%= @customer.family_name + "   " + @customer.given_name %></p>
        <p>フリガナ　　　<%= @customer.family_name_kana + "   " + @customer.given_name_kana %></p>
        <p>郵便番号　　　  <%= @customer.postal_code %></p>
        <p>住所　　　　　  <%= @customer.address %></p>
        <p>電話番号　　　  <%= @customer.email %></p>
        <% if @customer.suspended %>
        <p>会員ステータス   <span class="text-secondary">退会</span></p>
        <% else %>
        <p>会員ステータス   <span class="text-success">有効</span></p>
        <% end %>
        <!--注文履歴リンクを後で付ける-->
        <p>
          <%= link_to "編集する",edit_admin_customer_path(@customer), {class: "btn btn-success"} %>
          <%= link_to "注文履歴一覧を見る", "#",{class: "btn btn-primary ml-5"} %>
        </p>
      </div>
    </div>
  </div>
</div>