<%= render 'layouts/error', model:@address %>

<div class="row edit-address">
  <div class="col-md-10">
    <h2 class="m-3 bg-light">配送先編集</h2>
    <%=form_with model:@address, url:public_address_path(@address), local:true do |f| %>
      <div class="form-group">
        <label for="postal-code" class="w-25">郵便番号(ハイフンなし)</label>
        <%= f.text_field :postal_code, class:"postal-code"%>
      </div>
      <div class="form-group">
        <label for= "address" class="w-25">住所</label>
        <%= f.text_field :address, class:"address", size:50 %>
      </div>
      <div class="form-group">
        <label for= "name" class="w-25">宛名</label>
        <%= f.text_field :name, class:"name" %>
      </div>
      <div class="form-group">
        <%= f.submit '変更内容を保存',class:"btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>