
  <div class="admin-login">
  <div class="row pb-4">
    <div class="col-md-2 offset-md-1 pt-5">
      <div class="admin-login-top">
        <h3 class="text-center">管理者ログイン</h3>
      </div>
    </div>
  </div>
  
  <div class="row pt-4">
    <div class="admin-login-height-adjustment"></div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field row">
    <div class="col-md-2 offset-md-3">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'sample@example.com', size: "40x30" %>
    </div>
  </div>

  <div class="field row pt-3">
    <div class="col-md-2 offset-md-3">
      <%= f.label :パスワード %>
    </div>
    <div class="col-md-5">
      <%= f.password_field :password, autocomplete: "current-password", size: "40x30" %>
    </div>
  </div>

  <div class="actions row pt-4">
    <div class="col-md-2 offset-md-5">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
  </div>

