  <%= form_with model: product, url: path, class: "col-12", local: true do |f| %>
    <% product_form_hash.each do |key, value| %>
      <div class="form-group">
        <div class="row">
          
          <div class="col-3">
            <%= f.label key, value[:label] %>
          </div>
          
          <div class="col">
            <% if value[:form] == :field %>
              <%= f.text_field key, placeholder: value[:placeholder], size:"40x30" %><%= value[:option] %>
            <% elsif value[:form] == :area %>
              <%= f.text_area key, placeholder: value[:placeholder], size:"40x3" %>
            <% elsif value[:form] == :attachment %>
              <%= f.attachment_field key %>
            <% elsif value[:form] == :genre %>
              <%= f.collection_select key, Genre.all, :id, :name, { include_blank: "--選択してください--"}, {:style => "width:300px" } %>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-3">
        <%= f.label :sales_state, "販売ステータス" %>
      </div>
      <div class="col">
        <%= f.radio_button :sales_status, true %>
        <%= f.label :sales_status, "販売中" %>
        
        <%= f.radio_button :sales_status, false %>
        <%= f.label :sales_status, "販売停止中" %>
      </div>
    </div>
    
    <%= f.submit "送信" %>
  <% end %>
