<div class="row">
  <%= form_with model: product, url: path, local: true do |f| %>
    <% product_form_hash.each do |key, value| %>
      <div>
        <%= f.label key, value[0] %>
        <% if value[1] == :field %>
          <%= f.text_field key %>
        <% elsif value[1] == :attachment %>
          <%= f.attachment_field key %>
        <% elsif value[1] == :area %>
          <%= f.text_area key %>
        <% elsif value[1] == :genre %>
          <%= f.select key, genre_form_array %>
        <% end %>
      </div>
    <% end %>
    
    <div>
      <%= f.label :sales_status, '商品説明' %>
      <%= f.select :sales_status, [['販売中',true],['売り切れ',false]]%>
    </div>
    <%= f.submit "送信" %>
    
  <% end %>
</div>
