
  <div class="row">
    <div class="col-md-2 offset-md-1 pt-5">
      <div class="customer_login_Login">
        <h3 class="text-center">ログイン</h3>
      </div>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row pt-4">
      <div class="col-md-4 offset-md-2">
        <div class="customer_login_signed_in">
          <h5 class="text-center">会員の方はこちらからログイン</h5>
        </div>

      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-2 offset-md-3">
        <%= f.label :email, 'メールアドレス' %>
      </div>
      <div class="col-md-3 log_in_form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => 'sample@example.com', size: "40x30" %>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-2 offset-md-3">
        <%= f.label :password, 'パスワード' %>
      </div>
      <div class="col-md-3 log_in_form">
        <%= f.password_field :password, autocomplete: "current-password", size: "40x30" %>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-2 offset-md-5">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="row py-5">
    <div class="col-md-4 offset-md-2">
      <div class="customer_login_nsigned_in">
        <h5 class="text-center">会員登録がお済みでない方</h5>
      </div>
    </div>
    <div class="col-md-4 offset-md-3 pt-3">
      <p>
        <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
      </p>
    </div>
  </div>

