  <% select_address_array = [] %>
  <% current_customer.addresses.each do |address|  %>
    <% select_address_array <<
        [ "〒#{address.postal_code}" + " " + "#{address.address}" + " " + "#{address.name}", "#{address.id}".to_i] %>
  <% end %>


  <div class="row">
    <div class="col-md-12">
      <h4 class="bg-light">注文情報入力</h4>

        <%= form_with model: @order_info, url: {action: :confirm}, method: :get, local: true do |f| %>

            <div class="form-group">
              <label for="pay-method" class="w-25">支払い方法</label>
              <%= f.radio_button :payment_method, 0, id:"credit-card" %>クレジットカード</br>
              <label for="pay-method" class="w-25"></label>
              <%= f.radio_button :payment_method, 1, id:"bank transfer" %>銀行振込
            </div>

            <div class="form-group">
              <label for="my-address" class="w-25">お届け先</label>
              <%= f.radio_button :order_address, "my_address", id: "my_address" %>ご自身の住所</br>
              <label for="my-address" class="w-25"></label>
              〒<%= current_customer.postal_code %><%= current_customer.address %></br>
              <label for="my-address" class="w-25"></label>
              <%= current_customer.family_name + current_customer.given_name %></br>

              <% if current_customer.addresses.exists? %>
                <label for="select-address" class="w-25"></label>
                <%= f.radio_button :order_address, "selected_address", id:"selected_address" %>登録先住所から選択</br>
                <label for="select-address" class="w-25"></label>
                <%= f.select :select_address, select_address_array, size:50 %></br>
              <% end %>

              <label for="new-address" class="w-25"></label>
              <%= f.radio_button :order_address, "new_address", id:"new_address" %>新しいお届け先</br>
                <div class="form-group">
                  <label for="postal-code" class="w-25">郵便番号(ハイフンなし)</label>
                  <%= f.text_field :postal_code,class:"postal-code", placeholder: "0000000" %>
                </div>
                <div class="form-group">
                  <label for="address" class="w-25">住所</label>
                  <%= f.text_field :address,class:"address", size:50, placeholder: "東京都渋谷区代々木神園町0-0" %>
                </div>
                <div class="form-group">
                  <label for="name" class="w-25">宛名</label>
                  <%= f.text_field :name,class:"name", placeholder: "令和道子" %>
                </div>
            </div>

            <div class="form-group mt-10">
              <label for="sublmit" class="w-25"></label>
                <%= f.submit '確認画面へ進む',class:"btn btn-primary pl-30" %>
            </div>
        <% end %>
  </div>
</div>